$secondary: #8b8b9f;
$main: #252529;
$highlight: #73e298;

*   {
    box-sizing: border-box;
}

html, body {
    font-family: 'Open Sans', sans-serif;
}

.clearfix:before, .clearfix:after{
    content: "";
    display: table;
}

.wrapper {
    width: 1440px;
    max-width: 90%;

    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

#top_header{
    padding: 1.5em 0;
    .logo {
        float: left;
        text-transform: uppercase;
        font-size: 1.15em;
        font-weight: 700;
        span {
            font-weight: 300;
            color: $highlight;

        }
    }
#main_nav {
    float: right;
    font-size: .9em;
    padding-top: 1em;
    a {
        color: $secondary;
        text-decoration: none;
        margin-left: 1em;
        }
    span {
      color: $secondary;
      text-decoration: none;
      margin-left: 1em;
      }
  }
}
#banner {
    background: url(./images/homebanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 6.5em 0;
    #banner_content_wrapper {
        width: 900px;
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #poster {
        width: 275px;
        position: relative;
        .featured_image {
            width: 100%;
            max-width: 100%;
            border-radius: .5em;
            box-shadow: 0px 0px 76px 0px rgba(0,0,0,0.47);
        }
    }
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
  }

.box{
    width: 420px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
  }
  .box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }
  .box input[type = "text"],.box input[type = "email"]{
    border:0;
    background: none;
    display: block;
    margin: 40px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }

  .box input[type = "text"]:focus,.box input[type = "email"]:focus{
    width: 280px;
    border-color: #2ecc71;
  }

  .box input[type = "text"],.box input[type = "password"]{
    border:0;
    background: none;
    display: block;
    margin: 40px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }
  .box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 280px;
    border-color: #2ecc71;
  }
  .box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  .box input[type = "submit"]:hover{
    background: #2ecc71;
  }

.row {
  width: 100%;
  padding: 14px;
  border-spacing:5em;
  display: flex;
  .post {
    width: 14%;
    float: left;
    margin-right: 2.5%;
    img {
      width: 100%;
      max-width: 100%;
      border-radius: .5em;
    }
    .title{
      font-size: 1.25em;
      // margin: 1em 0 0 0;
      color: $main;
      width: 250px;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
    }
    .post_info {
      font-size: .75em;
      color: $secondary;
      margin: 0.5em 0;
    }
  }
}

.imgbox {
  padding: -1px;
  /* border: 1px solid #ccc; */
  overflow: hidden;
  object-fit: cover;
  height: 300px;
  width: 250px;
  padding-right: 1px;
  text-align: center;
  display: flex;


}

.imgbox img {
  margin-bottom: 30px;
  display: block;
  max-width: 100%;
  height: 300px;
  object-fit: cover;
  padding-right: "";
  


}

.tcontainer{
  display: grid;
  grid-template-columns: fit-content(300px) fit-content(300px) 1fr;
  grid-gap: 5px;
  box-sizing: border-box;
  height: 70px;
  width: 250px;
  background-color: #8cffa0;
  padding: 10px;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.specifice {
  position: absolute;
  width: 250px;
  bottom: 0;
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
}

.specifice h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  width: 100%;
}

.specifice h2 span {
  font-size: 15px;
  color: #ccc;
  font-weight: normal;

}

.specifice .price {
  position: absolute;
  top: 12px;
  right: 25px;
  font-weight: bold;
  color: #000;
  font-size: 30px;

}

.btn-one {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
  line-height: 30px;
  height: 20px;
  text-align: center;
  width: 200px;
  cursor: pointer;
  height: 33.33%;
    width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3C3C3C;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}

.search-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2f3640;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
}
.search-box:hover > .search-txt{
  width: 240px;
  padding: 0 6px;
}
.search-box:hover > .search-btn{
  background: white;
}
.search-btn{
  color: #e84118;
  float: right;
  width: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;

}

// .imgbox .name{
//   position: absolute;
//   bottom: 50px;
//   left: -10px;
//   right: -40px;
//   text-align: justify;
//   /* color: white; */
//   font-weight: bold;
//   opacity: 0.7;
//   padding: 65px 20px 20px;
//   top: -65px;
//   left: 85px;
//   text-transform: uppercase;
//   font-size: 18px;
//   color: #1da1f2;
// }
  